# test
test.md

# post
_posts

# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
.codacy/codacy.yaml


#Ignore cursor AI rules
.cursor/rules/codacy.mdc
.codacy/cli.sh
